.container {
	display: flex;
}

.grid {
	width: 250px;
	height: 500px;
	background-color: #000;
	display: flex;
	flex-wrap: wrap;
}

.grid div {
	height: 25px;
	width: 25px;
}

.tetromino {
	background-color: #00F;
}

.mini-grid {
	width: 100px;
	height: 100px;
	margin-left: 20px;
	display: flex;
	flex-wrap: wrap;
	background-color: #000;
}

.mini-grid div {
	width: 25px;
	height: 25px;
}