body {
  margin: auto;
  color: #FFF;
  background-color: #000;
}

header {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.no-space {
  margin-left: -32px;
}

.game-area {
  display: flex;
  justify-content: center;
}

.game {
  border: 5px solid white;
  margin-right: 50px;
}

.container {
    display: flex;
}

.grid {
    width: 250px;
    height: 500px;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 25px;
    width: 25px;
}

.tetromino {
    background-color: #00F;
}

.mini-grid {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
}

.mini-grid div {
    width: 25px;
    height: 25px;
}

.uppercase {
    text-transform: uppercase;
}

button {
  position: relative;
  width: 200px;
  height: 50px;
  text-align: center;
  color: #FFF;
  letter-spacing: 1px;
  text-decoration: none;
  line-height: 23px;
  font-size: 18px;
  display: block;
  margin: 30px;
  background-color: #000;
  border: 3px solid #FFF;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 25rem;
  background-color: #000;
  border: 5px solid #FFF;
  color: #FFF;
}

#score {
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
}

.score-class {
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
}